.custom-car-popup {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

.custom-car-popup .car-item:hover {
    background-color: #e9f7fe;
}

.custom-car-popup button {
    font-weight: bold;
    transition: background-color 0.3s;
}

.custom-car-popup button:hover {
    background-color: #1c5fa5;
}